<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf/org">
<head>
  <meta charset="UTF-8">
  <title>myinfo</title>
  <style>
    table {
      border: 1px solid #141414;
      border-collapse: collapse;
     }
    th, td {
      border: 1px solid #141414;
    }
  </style>
</head>
<body>
  <table>
    <tr>
      <th>이름:</th>
      <td th:text="${name}"></td>
    </tr>
    <tr>
      <th>나이: </th>
      <td th:text="${age}"></td>
    </tr>
    <tr>
      <th>연락처: </th>
      <td th:text="${phone}"></td>
    </tr>
    <tr>
      <th>주소: </th>
      <td th:text="${address}"></td>
    </tr>

  </table>
</body>
</html>